@model InmobiliariaParedes.Models.Pago

@{
    ViewData["Title"] = "Create";
}

<h1>CREAR PAGO</h1>
@if(ViewBag.ContratoId != null){
    <a asp-action="BuscarPorContrato" asp-route-id="@ViewBag.ContratoId">VOLVER AL INICIO</a>
}else{
    <a asp-action="Index">VOLVER AL INICIO</a>
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @if(ViewBag.ContratoId != null){
                    <input asp-for="contratoid" class="form-control" type="hidden" value="@ViewBag.ContratoId"/>
                }else{
                    <label asp-for="contratoid" class="control-label"></label>
                    <input asp-for="contratoid" class="form-control" />
                }
                <span asp-validation-for="contratoid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="importe" class="control-label"></label>
                <input asp-for="importe" class="form-control" />
                <span asp-validation-for="importe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <br>
                <input type="submit" value="CREAR" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
