@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BIENVENIDOS</h1>
    <h1 class="display-4">A</h1>
    <h1 class="display-4">MI</h1>
    <h1 class="display-4">INMOBILIARIA</h1>
</div>